.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    /* width: 50%; */
  }
.buttoncss{
  background: white;
  color: black;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: -2px;
  margin-right: -7px;
  margin-left: -7px;
  }