.aaa{
    cursor: pointer;
    display: flex;
    padding: 1px;
    align-items: center;
    border-radius: 10px;
    
  }
  .aaa:hover{
      /* //padding: 1px; */
    background-color: 	#005cb3;
  }
  .imageicon{
    width: 25.59px;
    height: 25.79px;
    border-radius: 25px;
  }