.img{
    
    background-image: url("../../../assets/images/LogIn-BG-02.svg");
    /* url("../../../../src/assets/images/provider.png"); */
    background-repeat: no-repeat;
    /* // background-position-x: 65px;
    // background-position-y: 120px;
    // background-size: 60%; */
    background-position-x: 10%;
    background-position-y: 85%;
    background-size: 56%;
    }
    .aaa{
        font-size: 30px;
    }